<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_meta_and_link') %>
    <title>Register New User - TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <div class="mx-auto my-4 p-4 loginregister">
        <h4>Register an New User</h4>
        <form class="form" action="/register" method="POST">
          <div class="form-group mb-2">
            <label for="email">Email address:</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="">
          </div>
          <div class="form-group mb-2">
            <label for="email">Password:</label>
            <input class="form-control" type="password" name="password" placeholder="">
          </div>
          <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('partials/_scripts') %>
    <script>
      //Pre-focus the email input field
      $("#email").focus();
    </script>
  </body>
</html>