<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_meta_and_link') %>
    <title>New URL - TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>Create TinyURL</h3>
      <form class="form-inline" action="/urls" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter a URL to shorten:</label>
          <input class="form-control" type="text" id="longURL" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </main>
    <%- include('partials/_scripts') %>
    <script>
      let longURL = urlParam('longURL');
      if (longURL) {
        //Prepopulate the input with previous attempt
        $("#longURL").val(longURL);
        cursorToEndOfInput("#longURL");
      } else {
        //Pre-focus the input field
        $("#longURL").focus();
      }
    </script>
  </body>
</html>