/* Center and border the form on login/register pages */
.loginregister {
  margin-top:50px!important;
  border: 1px solid rgba(0, 181, 57, 0.283);
  width:300px;
  border-radius: 10px;
}

.loginregister input {
  width: 250px;
}